imageio==2.5.0
mock==2.0.0
torchvision==0.3.0
cryptography==2.6.1
Flask==1.1.1
Keras==2.2.4
scikit_image==0.15.0
tornado==6.0.2
numpy==1.16.3
lxml==4.4.1
Werkzeug==0.15.2
torch==1.1.0.post2
Cython==0.29.13
pyOpenSSL==19.0.0
aiohttp==3.5.4
brotli==1.0.7
eventlet==0.25.1
gevent==1.4.0
protobuf==3.9.1
greenlet==0.4.15
inotify==0.2.10
ipaddr==2.2.0
keyring==19.1.0
ordereddict==1.1
PasteScript==3.1.0
setproctitle==1.1.10
simplejson==3.16.0
skimage==0.0
usercustomize==1.0.0
wincertstore==0.2
